* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.App {
  height: 100%;
  text-align: center;
  padding: 3rem 10rem;
  position: relative;
}

@import "./nav";
@import "./color";
@import "./colors";
@import "./sideBar";
